# Intellij Files
.idea/*

# StreamLabs Files
/OBS/StreamLabs/*

# Media Files
StreamFiles/*
Recordings/*

# Emulators
Emulators/*

# Profile with twitch api key information
/OBS/Standard_Profile/service.json

# Audio Files
Audio Files/*